/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: Aptos;
  src: url(./assets/fonts/Aptos.ttf);
}

:root {
  --clear: #73adc7;
  --cloudy: #9dacbc;
  --rainy: hsl(100, 3%, 71%);
  --snowy: hsl(211, 59%, 82%);
  --drizzly: #babcbb;
  --thunderstorm: hsl(219, 27%, 32%);
  --sandy: #d3c8b1;
  --background: var(--clear);
}

body {
  font-family: Aptos, sans-serif;
  background-color: var(--background);
}
