.card {
  background: rgba(240, 240, 240, 0.7);
  width: 200px;
  aspect-ratio: 3 / 2;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: auto;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 1rem;
}

.main {
  font-size: 2.5rem;
  font-weight: bold;
}

.feels-like-temp {
  opacity: 0.85;
}

.card .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.card .icon:has(:not(img)) {
  top: 1rem;
  right: 1rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.temps {
  display: flex;
  gap: 0.5rem;
}

.min {
  background-color: hsl(200, 70%, 40%);
}

.max {
  background-color: hsl(10, 70%, 40%);
}

.min,
.max {
  display: bold;
  color: #fff;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}
